* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #302b63, #24243e);
    color: white;
}

/* NAVBAR */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.05);
    z-index: 1000;
}

.logo {
    font-weight: 700;
    font-size: 22px;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    position: relative;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: #ffd369;
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

/* SECTION */
.section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 10%;
}

/* HERO */
.hero {
    text-align: center;
}

.profile-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 4px solid #ffd369;
    margin-bottom: 20px;
    transition: 0.4s;
}

.profile-img:hover {
    transform: scale(1.1) rotate(5deg);
}

.hero h1 span {
    color: #ffd369;
}

.hero h3 {
    font-weight: 400;
    margin: 10px 0;
}

.hero p {
    max-width: 600px;
    margin: 20px auto;
    opacity: 0.8;
}

.hero-buttons {
    margin-top: 25px;
}

.btn, .btn-outline {
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    margin: 10px;
    transition: 0.3s;
}

.btn {
    background: #ffd369;
    color: black;
}

.btn:hover {
    transform: translateY(-5px);
}

.btn-outline {
    border: 2px solid #ffd369;
    color: #ffd369;
}

.btn-outline:hover {
    background: #ffd369;
    color: black;
}

/* GLASS */
.glass {
    background: rgba(255,255,255,0.05);
    border-radius: 20px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}

.grid img {
    width: 100%;
    border-radius: 20px;
    transition: 0.4s;
}

.grid img:hover {
    transform: scale(1.05);
}

/* JOB CARD */
.job-card {
    margin-top: 30px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255,255,255,0.07);
    transition: 0.4s;
}

.job-card:hover {
    transform: translateY(-10px);
    background: rgba(255,255,255,0.15);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    background: rgba(0,0,0,0.3);
}